# Time zone for the Node server. Should always be UTC.
TZ=Etc/UTC

# INFRASTRUCTURE

## DATABASE (replace values in prod)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=template

## KEYCLOAK
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# APP  (replace values in prod)

## DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/template?schema=public"

## CORS (comma-separated list of allowed origins)
CORS_ORIGINS=http://localhost:4200

## AUTH
KEYCLOAK_CLIENT_ID=<replace_me>
KEYCLOAK_ISSUER_URL="http://localhost:8080/realms/template"

## AUTH E2E TESTS (Keycloak test user credentials)
KEYCLOAK_TEST_USER=<replace_me>
KEYCLOAK_TEST_PASSWORD=<replace_me>
